Package: puppet-module-plexxi-snmp
Version: 3.6.2
Architecture: all
Maintainer: Joe Lorenz <joe.lorenz@plexxi.com>
Installed-Size: 192
Depends: puppet-common (>= 2.7.20), puppet-common (<< 5), puppet-module-puppetlabs-stdlib (>= 2.3), puppet-module-puppetlabs-stdlib (<< 5)
Section: admin
Priority: optional
Homepage: https://github.com/Plexxi/puppet-snmp
Description: Puppet module for Net-SNMP agent config
 Puppet lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 The snmp module manages the Net-SNMP agent settings.
